@import 'tailwindcss/base';
@import './base.css';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~noty/lib/noty.css';
@import '~nprogress/nprogress.css';
@import './transitions.css';
@import './noty.css';

.top-middle {
  top: 50%;
  transform: translateY(-50%);
}

.-transform-x-50 {
  transform: translateX(-50%);
}

.transform-x-50 {
  transform: translateX(50%);
}

.-transform-x-100 {
  transform: translateX(-100%);
}

.transform-x-100 {
  transform: translateX(1000%);
}
